/* roots */

:root {
    --my-primary: #ff6800;
    --my-primary-light: #ff660077;
    --my-background: #f5f5f5;
    --my-white: #ffffff;
    --my-dark: #3e4259;
    --my-text-dark: #0a1b39;
    --my-text-dark-light: #3a3a3a80;
    --my-text-light: #ffffff;
  }
  
  .my-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--my-background);
    padding: 3rem 0;
  }
  
  .login-wrepper {
    min-width: 533px;
    width: 533px;
    min-height: 500px;
    background: var(--my-white);
    padding: 2rem 5rem;
    border-radius: 24px;
  }
  
  .login-wrepper .logo-wrepper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .login-wrepper h3 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .login-wrepper .forgot-pass {
    text-align: right;
    margin-bottom: 2rem;
  }
  
  .login-wrepper .forgot-pass a {
    color: var(--my-primary);
    font-size: 14px;
    font-weight: 700;
  }
  
  .login-wrepper .btn-wrepper {
    margin-bottom: 1rem;
  }
  
  .forgor-form {
    min-height: 17rem;
    margin-top: 6rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  
  .forgor-form .img-wrepper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgor-form .img-wrepper img {
    height: 5rem;
  }
  
  .forgor-form .email-send-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .forgor-form .email-send-text p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 23px;
  }
  
  .forgor-form .email-send-text p span {
    font-weight: 700;
  }
  
  @media (max-width: 533px) {
    .my-container {
      padding: 0;
    }
  
    .login-wrepper {
      min-width: 100vw;
      width: 100vw;
      border-radius: 0;
      padding: 2rem 5rem;
    }
  }
  
  @media (max-width: 420px) {
    html {
      font-size: 98%;
    }
  
    .login-wrepper {
      padding: 2rem 2rem;
    }
  }
  
  @media (max-width: 320px) {
    html {
      font-size: 97%;
    }
    .login-wrepper {
      padding: 2rem 1rem;
    }
  }
  