<div class="login-wrepper">
	<div class="logo-wrepper">
	  <img src="../../assets/images/logo-dark.png" alt="" />
	</div>
	<h3>Forgot Your Password</h3>
	<form action="" class="forgor-form">
	  <div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label"
		  >Enter Username or Email</label
		>
		<input
		  type="text"
		  class="form-control b-inpt"
		  placeholder="Username or Email"
		/>
	  </div>
	  <!-- input -->
	  <div class="btn-wrepper">
		<a href="./email-send.html" class="btn-1">Send reset link</a>
		<a routerLink="/login" class="btn-2 mt-3">Back</a>
	  </div>
	</form>
</div>