/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  transition: all linear 0.3s;
}

/* roots */

:root {
  --my-primary: #ff6800;
  --my-primary-light: #ff660077;
  --my-background: #f5f5f5;
  --my-white: #ffffff;
  --my-dark: #3e4259;
  --my-text-dark: #0a1b39;
  --my-text-dark-light: #3a3a3a80;
  --my-text-light: #ffffff;
}

a,
a:active,
a:hover {
  color: var(--my-text-dark);
  text-decoration: none;
}

/* btn-1 */

.btn-1 {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  border-radius: 100px;
  background: var(--my-primary);
  color: var(--my-text-light);
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.btn-1:hover {
  color: var(--my-text-light);
  background: var(--my-primary-light);
}

/* btn-2 */

.btn-2 {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 28px;
  line-height: 10px;
  border-radius: 100px;
  background: transparent;
  color: var(--my-primary);
  font-weight: 600;
  font-size: 14px;
}

.btn-2:hover {
  color: var(--my-primary-light);
}

.color-b {
  color: #0038ff;
}

.color-b:hover {
  color: #0e3bdd;
}

/*  */

.form-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 4px;
  color: var(--my-text-dark);
}

.form-select,
.form-control,
input {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 0.575rem 12px;
  box-shadow: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
}

.form-select:focus,
.form-control:focus,
input:focus {
  box-shadow: none;
  border-color: var(--my-primary);
}

input.b-inpt {
  padding: 0.675rem 12px;
}

.pass-wrepper {
  position: relative;
}

.pass-wrepper img,
.pass-wrepper svg {
  position: absolute;
  right: 10px;
  top: 32%;
  fill: var(--my-dark);
  height: 16px;
  cursor: pointer;
  z-index: 3;
}

.pass-wrepper input {
  padding-right: 3rem;
}
